<!--Essa pagina html eh exclusiva para mostrar pedidos filtrados na pagina inicial-->

{% load static %}                                                                                                   <!-- load static eh uma Biblioteca nativa do django-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="{% static 'css_pagina_principal/styles.css' %}">                                   <!-- coloco o caminho relativo a partir da 'frontend/static' essa pasta eu defini no settings.py na parte STATICFILES_DIRS-->
</head>
<body>
    <div class="div-cabecalho">
        <h1 class="cabecalho">Pedidos de peças | OFICINA</h1>
    </div>
    <div class="container-de-busca">
        <form method="get" action="{% url 'buscar' %}">                                                               <!--MUITO IMPORTANTE COLOCAR O METHOD GET QUE ENVIARA A INFORMACAO PARA A PAGINA HTML BUSCAR-->>
          <input class="input-busca" type="text" placeholder="Digite sua busca..." name="input-buscar">
          <button class="btn" type="submit" value="buscar">Buscar</button>
        </form>
    </div>
    <section class="secao-principal">
      <nav class="menu-lateral">
        <button class="btn-menu-lateral"><a class="link-pedido" href="{% url 'principal' %}">Home</a></button>
        <button class="btn-menu-lateral"><a class="link-pedido" href="{% url 'login' %}">Login</a></button>
        <button class="btn-menu-lateral"><a class="link-pedido" href="{% url 'logout'%}">Logout</a></button>
      </nav>
      <div class="tabela-pedidos">
          <table class="table">
              <thead>
                  <tr>
                    <th class="tg-on52">PEDIDO</th>
                    <th class="tg-on52">OFICINA</th>
                    <th class="tg-on52">O.S</th>
                    <th class="tg-on52">PREFIXO</th>
                    <th class="tg-on52">MODELO</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pedido_enviado in pedidos_enviados %}                                                                                           <!--pedidos_enviados contem todos os pedidos correspondentes filtrados em views.py -->
                  <tr>
                    <td class="tg-mxz8"> <a class="link-pedido" href="{% url 'pedido' pedido_enviado.id%}">{{ pedido_enviado.pedido }}</a></td>          <!--Codigo python. Primeiro escrever url e depois entre aspas o name do arquivo que colocamos no urls.py-->
                    <td class="tg-mxz8">{{ pedido_enviado.oficina }}</td>
                    <td class="tg-mxz8">{{ pedido_enviado.os }}</td>
                    <td class="tg-mxz8">{{ pedido_enviado.prefixo }}</td>
                    <td class="tg-mxz8">{{ pedido_enviado.modelo }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
      </div>
    </section>
</body>
</html>