{% load static %}                                                                       <!-- load static eh uma Biblioteca nativa do django-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css_pagina_principal/pedido.css' %}">       <!-- coloco o caminho relativo a partir da 'frontend/static' essa pasta eu defini no settings.py na parte STATICFILES_DIRS-->
</head>
<body>
  <section class="secao-principal">
    <nav class="menu-lateral">
      <button class="btn-menu-lateral"><a class="link-pedido" href="{% url 'principal' %}">Home</a></button>
      <button class="btn-menu-lateral">Login</button>
    </nav>
    <table class="pedido-de-peca">
        <thead>
          <tr>
            <th colspan="3" class="tabela-titulo">PEDIDO DE PEÇA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><spam>PEDIDO: </spam>{{pedidos_enviados.pedido}}</td>
            <td><spam>PREFIXO: </spam>{{pedidos_enviados.prefixo}}</td>
            <td><spam>MODELO: </spam>{{pedidos_enviados.modelo}}</td>
          </tr>
          <tr>
            <td><spam>CONTRATO: </spam>-</td>
            <td><spam>DESCONTO: </spam>-</td>
            <td><spam>SEÇÃO: </spam>{{pedidos_enviados.oficina}}</td>
          </tr>
          <tr>
            <th colspan="3" class="tabela-titulo">RELAÇÃO DE MATERIAIS</th>
          </tr>
          <tr>
            <td><spam>ITEM: </spam>-</td>
            <td><spam>QUANTIDADE: </spam>-</td>
            <td><spam>DESCRICAO: </spam>-</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </section>
</body>
</html>