h1{
    display: flex;
    justify-content: center;
}

.secao-principal{
    display: flex;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 10%;
}

.btn-menu-lateral{
    width: 90%;
    margin: 10px;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.div-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  20px;
}

#mensagem{
    display: flex;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 100px;
    background-color: red;
}