* {
    padding: 0;
    margin: 0;
}

.div-cabecalho {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: fit-content;
}

.cabecalho {
    font-size: 50px;
}

.container-de-busca{
    width: 80%;
    height: 20px;
    color: white;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-de-busca form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-busca{
    padding: 5px 30px;
    margin: 0 5px;;
}

.btn{
font-family: Roboto, sans-serif;
font-weight: 100;
font-size: 14px;
color: #fff;
background: linear-gradient(90deg, #0066CC 0%, #8100cc 100%);
padding: 5px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;

}

.btn:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #0066CC 0%, #8100cc 100%);
color: #ffb300;
border: solid 2px #0066cc;

}

.secao-principal{
    display: flex;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 10%;
}

.btn-menu-lateral{
    width: 90%;
    margin: 10px;
}

.tabela-pedidos{
    width: 90%;
}


.link-pedido{
    text-decoration: none;
    cursor: pointer;
}

.link-pedido:hover{
    color: red;
}

.table {
    border-collapse: collapse;
    border-color: #93a1a1;
    border-spacing: 0;
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.table td {
    background-color: #fdf6e3;
    border-style: solid;
    border-width: 1px;
    color: #002b36;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    width: 20%;
}

.table th {
    text-align: center;
    background-color: #657b83;
    border-color: #93a1a1;
    border-style: solid;
    border-width: 1px;
    color: #fdf6e3;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.table .tg-mxz8 {
    background-color: #eee8d5;
    border-color: #000000;
    color: #333333;
    vertical-align: center;
}

.table .tg-on52 {
    border-color: #000000;
    color: #333333;
    vertical-align: center;
}